<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<p v-if="show">You can see me!</p>
		<p v-else>Now you see me</p>
		<template v-if="show">
			<h1>Tile heading</h1>
			<p>Inside template</p>
		</template>
		<p v-show="show">Do you also see me?</p>
		<button @click='show = !show'>swith</button>
	</div>
	<script src="app.js"></script>
</body>

</html>